@model  IEnumerable<PolutionSensor.v2.ViewModels.PolutionStatisticsViewModel>
@{
    ViewBag.Title = "Hourly Statistics - " + Model.FirstOrDefault().Date.ToShortDateString();
}

    <script src="~/Scripts/RGraph.svg.common.core.js"></script>
    <script src="~/Scripts/RGraph.svg.hbar.js"></script>
    <script src="~/Scripts/RGraph.svg.pie.js"></script>
    <script src="~/Scripts/pieChart.js"></script>
    <style>
        #data{
            padding-top:20px;
        }
        .gauge {
            width: 300px;
            height: 300px;
        }
    </style>
    <div id="data">
        <div class="row">
            <label class="col-md-1">Date:</label>
            <label class="col-md-11">@Model.FirstOrDefault().Date.ToShortDateString()</label>
        </div>
        <br />
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="details col-md-4">
                    <div class="row">
                        <label class="col-md-4">Hour:</label>
                        <label class="col-md-8">@item.Hour</label>
                    </div>
                    <div class="row">
                        <label class="col-md-4">SSID:</label>
                        <label class="col-md-8">@item.SSID</label>
                    </div>
                    <div class="row">
                        <label class="col-md-4">Entries:</label>
                        <label class="col-md-8">@item.TotalEntries</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div id="chart-container-25-@item.Hour" class="gauge col-md-6"></div>
                    <div id="chart-container-10-@item.Hour" class="gauge col-md-6"></div>
                </div>
            </div>
        }
    </div>
    <script>
         @foreach (var item in Model)
            {
                <text>
                    createPie(@item.PM25, 400, "PM 2.5", "chart-container-25-@item.Hour", "@item.Pm25Color");
                    createPie(@item.PM10, 400, "PM 10", "chart-container-10-@item.Hour", "@item.Pm10Color");
                </text>
            }        
    </script>
